[submodule "branding"]
	path = branding
	url = https://github.com/Teamz-Lab-LTD/teamz-lab-branding-web-component.git
[submodule "teamz-company-automation"]
	path = teamz-company-automation
	url = file:///Users/mdgolamkibriaemon/Projects/Teamz Lab Projects/teamz-projects/teamz-company-automation
